extends layout

block content
    script(src='/javascripts/web_socket_control.js')
    br
    br
    br
    br
    br
    a#stream_container(download='screen_shot.jpg')
    aside#controls
        img(src='images/arrows.png', usemap='#controls-map')
        map#controls_map(name='controls-map')
            area(shape='rect', name='right', onmousedown="sendAction('move', '3')", onmouseup="sendAction('stop')", ontouchstart="sendAction('move', '3')", ontouchend="sendAction('stop')", coords='171,84,256,170')
            area(shape='rect', name='down', onmousedown="sendAction('move', '1')", onmouseup="sendAction('stop')", ontouchstart="sendAction('move', '1')", ontouchend="sendAction('stop')",coords='83,175,175,252')
            area(shape='rect', name='left', onmousedown="sendAction('move', '2')", onmouseup="sendAction('stop')", ontouchstart="sendAction('move', '2')", ontouchend="sendAction('stop')",coords='1,87,84,168')
            area(shape='rect', name='up', onmousedown="sendAction('move', '0')", onmouseup="sendAction('stop')", ontouchstart="sendAction('move', '0')", ontouchend="sendAction('stop')",coords='87,3,170,84')
            area(shape='rect', name='center', onmousedown="'stop'", onmouseup="sendAction('stop')",ontouchstart="'stop'", ontouchend="sendAction('stop')", coords='86,87,169,168')