.streamFrame{
    transform: rotate(90deg) scaleY(-1);
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    user-select: none;
    user-drag: none;
}

#stream_container{
    width: 100%;
    display: block;
    text-align: center;
}
#stream_container__link{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

#controls{
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
    user-drag: none;
    touch-callout: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}